

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #111111;
}

.header {
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    position: absolute;
    top: 0%;
}

#homepage-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 48px;
    margin-left: 40px;
    margin-top: 30px;
    text-shadow: 2px 2px 2px 2px black;
}

#hamburger-menu {
    position: absolute;
    right: 0%;

    margin-right: 2%;
    margin-top: 30px;
    cursor: pointer;
}

#title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 182px;
    text-shadow: 2px 2px 2px 2px black;
}

#name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 58px;
    margin-left: 15px;
    text-shadow: 2px 2px 2px 2px black;
}


.content-text {
    position: absolute;
    top: 32%;
    left: 8%;
}

.reddish {
    color: #E85656;
}

.blueish {
    color: #6DA7F5;
}

#particle-js {
    width: 100px;
    height: 100px;
}

nav {

    position: absolute;
    background: #111111;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    display: none;
    transform: scaleX(0);
    transform-origin: right;
}

ul {
    position: absolute;
    top: 45%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    opacity: 0;
    animation: show-x 1s ease-in forwards;
    overflow: hidden;


}

ul li a {
    display: block;
    text-align: center;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-decoration: none;
    opacity: 0;
    animation: show-x 1s ease-in forwards;
}

.show-menu {
    display: block;
    animation: slide-menu 0.5s ease-in forwards;

    
}

#close-menu-btn {
        
    animation: show-x 1s ease-in forwards 1s;
        opacity: 0;
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

#close-menu-btn {
    margin-right: 40px;
    margin-top: 40px;
    width: 50px;
    height: auto;
    float: right;
    cursor: pointer;
}


.hvr-float {
    
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }




  .hvr-skew-backward {

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  .hvr-skew-backward:hover, .hvr-skew-backward:focus, .hvr-skew-backward:active {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

#backend-button {
    position: absolute;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    left: 46%;
    bottom: 2%;
    opacity: 0;
    animation: show-x 1s ease-in forwards;
    
}


#night-owl {
    width: 100px;
    height: auto;
    position: absolute;
    right: 2%;
    bottom: 2%;
}


.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  #typed3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 182px;
    text-shadow: 2px 2px 2px 2px black;
  }

  #typed4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 58px;
    margin-left: 15px;
  }

  .text-hover {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:  #E85656;
    position: relative;
    text-align: center;
    margin-top: -25px;
    opacity: 0;
}

.hvr-float:hover + .text-hover {
    opacity: 1;
    animation: show-x 0.5s ease-in forwards;
}


  @media only screen and (max-width: 600px) {
    #title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 64px;
        text-shadow: 2px 2px 2px 2px black;
       
    }

    #hamburger-menu {
        position: absolute;
        right: 0%;
        
        height: auto;
        margin-right: 5%;
        margin-top: 30px;
        cursor: pointer;
    }

    #typed3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 64px;
        text-shadow: 2px 2px 2px 2px black;
       
      }
    
#name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 32px;
    text-shadow: 2px 2px 2px 2px black;
 
}

#typed4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 32px;
    margin-left: 0px;
   
  }

  #content-text-logo{
      text-align: left;
  }
  
  ul {
    position: absolute;
    top: 30%;
    list-style-type: none;
    display: block;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    opacity: 0;
    animation: show-x 1s ease-in forwards;
    overflow: hidden;

}

ul li a {
    display: block;
    text-align: center;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-decoration: none;
    opacity: 0;
    animation: show-x 1s ease-in forwards;

}

ul li  {
    margin-top: 5px;
}
#backend-button {
    position: absolute;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    transform: translate(-50%);
    left: 50%;
    bottom: 2%;
    opacity: 0;
    animation: show-x 1s ease-in forwards;
    
}





}